@import url('https://fonts.googleapis.com/css2?family=Arima:wght@600&family=Baloo+Bhai+2:wght@700&family=Bree+Serif&family=Lobster&family=Spirax&family=Ubuntu+Condensed&family=Ubuntu:ital,wght@1,500&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

html{
    scroll-behavior: smooth;
}

.logo {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo img {
    width: 33%;
    border: 2px solid white;
    border-radius: 50%;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0%;
    cursor: pointer;
}

.nav-list {
    width: 50%;
    /* background-color: green; */
    display: flex;
    align-items: center;
}

.nav-list li {
    list-style: none;
    padding: 16px 22px;
}

.nav-list li a {
    text-decoration: none;
    color: white;
    font-family: 'Arima', cursive;
}

.nav-list li a:hover {
    color: grey;
}

.rightnav {
    /* background-color: violet; */
    width: 50%;
    text-align: right;
    padding: 8px;
}

#search {
    padding: 5px;
    font-size: 17px;
    border: 2px solid black;
    border-radius: 10px;
}

.background {
    background: rgba(0, 0, 0, 0.7) url('../img/bg.jpg');
    background-size: cover;
    background-blend-mode: darken;
}

.firstsection {
    height: 100vh;
}

.box-main {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    max-width: 50%;
    margin: auto;
    height: 67%;
}

.firsthalf {
    width: 75%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.secondhalf {
    width: 30%;
}

.secondhalf img {
    width: 70%;
    border: 2px solid white;
    border-radius: 150px;
    ;
    display: block;
    margin: auto;
}

.text-big {
    font-size: 30px;
    font-family: 'Arima', cursive;
}

.text-small {
    font-size: 15px;
    font-family: 'Bree Serif', serif;
}

.btn {
    padding: 8px 20px;
    margin: 7px 3px;
    border: 2px solid white;
    border-radius: 8px;
    background: none;
    color: white;
    cursor: pointer;
    font-family: 'Arima', cursive;
    font-size: 15px;
}

.btn-sm {
    padding: 4px 13px;
    vertical-align: middle;
}

.btn-dark{
    color: black;
    border: 2px solid grey;
    margin-left: 16px;
}

.section {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    max-width: 80%;
    margin: auto;
    font-family: 'Arima', cursive;
    padding: 10px;
}

.thumbnail img {
    width: 140px;
    border: 2px solid black;
    border-radius: 10px;
    margin-top: 26px;
}

.paras {
    padding: 0px 30px;
}

.secleft {
    flex-direction: row-reverse;

}

.sectionTag {
    padding: 12px 0;
}

.sectionSubTag {
    font-family: 'Bree Serif', serif;
}

.contact {
    background-color: rgb(244, 244, 244);
    height: 110vh;
}

.text-center {
    text-align: center;
    padding-top: 20px;
    font-family: 'Arima', cursive;
    font-size: 25px;
}

.form {
    max-width: 1000px;
    margin: 15px auto;
}

.form-input {
    margin: 13px;
    padding:  4px 2px    ;
    width: 100%;
    font-size: 15px;
    border: 2px solid gray;
    border-radius: 6px;
}

.text-footer{
    text-align: center;
    padding: 30px 0;
   font-family: 'Ubuntu', sans-serif; 
   display: flex;
   justify-content: center;
   color: white;
   
}

.burger{
    display: none;
    position: absolute;
    cursor: pointer;
    right: 5%;
    top:15px;
}
.line{
    width: 33px;
    background-color: white;
    height: 4px;
    margin: 5px 3px;
}

